.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-footer {
    margin-top: auto;
}

.unknown_game {
    width: 70px !important;
    height: 93px !important;
}

@media (prefers-color-scheme: dark) {
    .card {
        background-color: #1e1f25 !important;
    }
}

video {
    height: auto;
    width: 100%;
}
