{% load static %}
{% load humanize %}
{% block content %}

<div class="card">
    <div class="card-image">
        <figure class="image">
            {% if not clip.clip_archived %}
            <img src="{% static 'svg/clip-offline.svg' %}" loading="lazy" alt="offline">
            {% else %}
            <video poster="{{ MEDIA_URL }}clip_thumbnails/{{ clip.clip_id }}.jpg" controls>
                <source src="{{ MEDIA_URL }}clips/{{ clip.clip_id }}.mp4" type="video/mp4">
            </video>
            {% endif %}
        </figure>
    </div>
    <a href="{% url 'singleclip' clip.clip_id %}">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image">
                        {% if clip.game_id %}
                        <img src="{{ MEDIA_URL }}game_thumbnails/{{ clip.game_id }}.jpg" loading="lazy"
                            alt="{{ clip.game_title }}">
                        {% else %}
                        <img class="unknown_game" src="{% static 'svg/unknown_game.svg' %}" loading="lazy"
                            alt="{{ clip.game_title }}">
                        {% endif %}
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">
                        {{ clip.title|truncatechars:47 }}
                    </p>
                    <p class="subtitle is-6">
                        {{ clip.created_at }}
                        <br>{{ clip.view_count|intcomma }} Views
                    </p>
                </div>
            </div>
        </div>
    </a>
    <footer class="card-footer">
        <a class="card-footer-item" href="https://twitch.tv/{{ clip.creator_name }}" target="_new">
            {{ clip.creator_name }}
        </a>
        <a class="card-footer-item" href="{{ clip.url }}" target="_new">
            {% if clip.deleted_on_twitch %}
            <figure class="image is-24x24">
                <img src="{% static 'svg/twitch-dead.svg' %}" loading="lazy" alt="twitch-dead" />
            </figure>
            {% else %}
            <figure class="image is-24x24">
                <img src="{% static 'svg/twitch.svg' %}" loading="lazy" alt="twitch" />
            </figure>
            {% endif %}
        </a>
    </footer>
</div>

{% endblock %}