{% load static %}
{% load humanize %}
{% block content %}

<!DOCTYPE html>
<html lang="de">

{% include 'clips/header.html' %}

<body>

    {% include "clips/navbar.html" %}

    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-two-thirds-desktop">
                {% if clip %}
                {% if not clip.clip_archived %}
                <img class="mt-6" width="100%" height="auto" src="{% static 'svg/clip-offline.svg' %}" alt="offline" />
                {% else %}
                <video class="mt-6" width="100%" height="auto" poster="{{ MEDIA_URL }}clip_thumbnails/{{ clip.clip_id }}.jpg" controls>
                    <source src="{{ MEDIA_URL }}clips/{{ clip.clip_id }}.mp4" type="video/mp4">
                </video>
                {% endif %}
                <h1 class="title is-spaced my-2">
                    {{ clip.title }}
                </h1>
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                {% if clip.game_id %}
                                <img src="{{ MEDIA_URL }}game_thumbnails/{{ clip.game_id }}.jpg" loading="lazy"
                                    alt="{{ clip.game_title }}">
                                {% else %}
                                <img class="unknown_game" src="{% static 'svg/unknown_game.svg' %}" loading="lazy"
                                    alt="{{ clip.game_title }}">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{ clip.game_title }}</strong>
                                    <br>
                                    {{ clip.view_count|intcomma }} Views - {{ clip.created_at }}<br>
                                    <a href="https://twitch.tv/{{ clip.creator_name }}">{{ clip.creator_name }}</a><br>
                                    {% if clip.deleted_on_twitch %}
                                    Deleted on Twitch
                                    {% else %}
                                    <a href="{{ clip.url }}" target="_blank">
                                        Clip on Twitch
                                    </a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                {% else %}
                <div class="column is-full">
                    <section class="hero is-danger">
                        <div class="hero-body">
                            <div class="container">
                                <h1 class="title">
                                    Clip not found
                                </h1>
                            </div>
                        </div>
                    </section>
                </div>
                {% endif %}
            </div>
            <div class="column is-one-thirds-desktop">
                <h1 class="title is-spaced my-6">
                    Recommended
                </h1>
                {% for clip in recommended %}
                <div class="columns">
                    <div class="column">
                        <a href="{% url 'singleclip' clip.clip_id %}">
                            {% if not clip.clip_archived %}
                            <img width="100%" height="auto" src="{% static 'svg/clip-offline.svg' %}" loading="lazy"
                                alt="offline">
                            {% else %}
                            <img width="100%" height="auto" src="{{ MEDIA_URL }}clip_thumbnails/{{ clip.clip_id }}.jpg"
                                loading="lazy" alt="{{ clip.title }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="column">
                        <a href="{% url 'singleclip' clip.clip_id %}">
                            <h4 class="title is-4">{{ clip.title|truncatechars:47 }}</h4>
                        </a>
                        <p>
                            {{ clip.game_title }}
                            <br>{{ clip.created_at }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'clips/footer.html' %}

</body>

</html>

{% endblock %}