{% load static %}
{% load humanize %}
{% block content %}

<!DOCTYPE html>
<html lang="de">

{% include 'clips/header.html' %}

<body class="bg-dark text-white">

    {% include "clips/navbar.html" %}

    <div class="container-fluid bg-dark text-white">
        <div class="row">
            <div class="col-xl-8 pt-sm-5 pl-sm-5 pb-sm-5">
                {% if clip %}
                {% if not clip.clip_archived %}
                <img width="100%" height="auto" src="{% static 'svg/clip-offline.svg' %}" alt="offline" /> {% else %}
                <video width="100%" height="auto" poster="{{ MEDIA_URL }}clip_thumbnails/{{ clip.clip_id }}.jpg"
                    controls>
                    <source src="{{ MEDIA_URL }}clips/{{ clip.clip_id }}.mp4" type="video/mp4">
                </video> {% endif %}
                <div class="mt-3">
                    <div>
                        <h1 class="font-weight-bold">
                            {{ clip.title }}
                        </h1>
                        <h2>
                            <span class="badge badge-pill badge-light">{{ clip.game_title }}</span>
                            <span class="badge badge-pill badge-light">{{ clip.view_count|intcomma }}
                                Views</span>
                            <span class="badge badge-pill badge-light">{{ clip.created_at }}</span>
                            <a href="https://twitch.tv/{{ clip.creator_name }}" target="_new"
                                class="badge badge-pill badge-success">{{ clip.creator_name }}</a>
                            {% if clip.deleted_on_twitch %}
                            <span class="badge badge-pill badge-danger">Deleted on Twitch</span> {% else %}
                            <a href="{{ clip.url }}" target="_new" class="badge badge-pill badge-success">Clip
                                on Twitch</a> {% endif %}
                        </h2>
                    </div>
                </div>
                {% else %}
                <h1 class="font-weight-bold">
                    {{ headline }}
                </h1>
                {% endif %}
            </div>
            <div class="col-xl-4 pt-sm-5 pr-sm-5 pb-sm-5">
                <h3 class="recommended-headline font-weight-bold mb-3">Recommended</h3>
                <div class="container-fluid">
                    {% for clip in recommended %}
                    <div class="row mb-3">
                        <div class="col-5">
                            <a class="text-white" href="{% url 'singleclip' clip.clip_id %}">
                                {% if not clip.clip_archived %}
                                <img class="img-fluid rounded" src="{% static 'svg/clip-offline.svg' %}" alt="offline">
                                {% else %}
                                <img class="img-fluid rounded"
                                    src="{{ MEDIA_URL }}clip_thumbnails/{{ clip.clip_id }}.jpg" alt="{{ clip.title }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-7">
                            <a class="text-white" href="{% url 'singleclip' clip.clip_id %}">
                                <h4 class="font-weight-bold">{{ clip.title }}</h4>
                            </a>
                            <p>{{ clip.game_title }}<br> {{ clip.created_at }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include 'clips/footer.html' %}

</body>

</html>

{% endblock %}