{% load static %}

{% block content %}

<head>

    <meta name="{{ broadcaster_name }}" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="{{ broadcaster_name }} twitch clip archive. Search, sort and get statistics for twitch clips with ease.">
    <title>{{ headline }}</title>

    <link rel="icon" type="image/svg+xml" href="{% static 'svg/logo.svg' %}" sizes="any">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

{% endblock %}