{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'clips/header.html' %}

<body class="bg-dark text-white">

    {% include 'clips/navbar.html' %}

    <div class="container-fluid bg-dark text-white">

        <h1 class="page-title font-weight-bold mt-5 mb-5 ml-5">{{ headline_top_week }}
            <a href="{% url 'topweek' %}" class="badge badge-pill badge-dark">Show more</a>
        </h1>

        <div class="grid-featured dragscroll p-4">
            {% if clips_top_week %}
            {% for clip in clips_top_week %}

            {% include 'clips/card.html' %}

            {% endfor %}

            <div class="w-100 m-auto text-center">
                <h1>
                    <a href="{% url 'topweek' %}" class="badge badge-pill badge-dark">Show more</a>
                </h1>
            </div>

            {% else %}
            <p>No clips found.</p>
            {% endif %}
        </div>

        <h1 class="page-title font-weight-bold mt-5 mb-5 ml-5">{{ headline_top_month }}
            <a href="{% url 'topmonth' %}" class="badge badge-pill badge-dark">Show more</a>
        </h1>

        <div class="grid-featured dragscroll p-4">
            {% if clips_top_month %}
            {% for clip in clips_top_month %}
            {% include 'clips/card.html' %}
            {% endfor %}

            <div class="w-100 m-auto text-center">
                <h1>
                    <a href="{% url 'topmonth' %}" class="badge badge-pill badge-dark">Show more</a>
                </h1>
            </div>

            {% else %}
            <p>No clips found.</p>
            {% endif %}
        </div>

        <h1 class="page-title font-weight-bold mt-5 mb-5 ml-5">{{ headline_top_alltime }}
            <a href="{% url 'topalltime' %}" class="badge badge-pill badge-dark">Show more</a>
        </h1>

        <div class="grid-featured dragscroll p-4">
            {% if clips_top_alltime %}
            {% for clip in clips_top_alltime %}
            {% include 'clips/card.html' %}
            {% endfor %}
            <div class="w-100 m-auto text-center">
                <h1>
                    <a href="{% url 'topalltime' %}" class="badge badge-pill badge-dark">Show more</a>
                </h1>
            </div>
            {% else %}
            <p>No clips found.</p>
            {% endif %}
        </div>

    </div>

    {% include 'clips/footer.html' %}

</body>

</html>