{% load static %}
{% block content %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
            <img src="{% static 'svg/logo.svg' %}" width="28" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Top
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Week
                    </a>
                    <a class="navbar-item">
                        Month
                    </a>
                    <a class="navbar-item">
                        All Time
                    </a>
                </div>
            </div>
            <a class="navbar-item">
                Stats
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" placeholder="Find a repository">
                    </div>
                    <div class="control">
                        <button class="button is-primary" id="btnSearch">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

{% endblock %}