{% load static %}
{% block content %}

<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
            <span class="is-size-4">{{ broadcaster_name }}</span>
            <img src="{% static 'svg/logo.svg' %}" width="28" height="28" class="ml-2" alt="Logo">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'index' %}">
                <i class="fas fa-home has-text-primary mr-1"></i> Home
            </a>
            <div class="navbar-item has-dropdown" onclick="this.classList.toggle('is-active')">
                <a class="navbar-link">
                    <i class="fas fa-chart-line has-text-info mr-1"></i> Top
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'topweek' %}">
                        Week
                    </a>
                    <a class="navbar-item" href="{% url 'topmonth' %}">
                        Month
                    </a>
                    <a class="navbar-item" href="{% url 'topalltime' %}">
                        All Time
                    </a>
                </div>
            </div>
            <a class="navbar-item" href="{% url 'statistics' %}">
                <i class="fas fa-chart-pie has-text-warning mr-1"></i> Stats
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <form action="{% url 'search_results' %}">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" name="search" value="{{ searchquery }}"
                                placeholder="Search clips">
                        </div>
                        <div class="control">
                            <button class="button is-primary" type="submit" aria-label="search clips"
                                onclick="this.classList.toggle('is-loading')">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>

{% endblock %}