{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="de">

{% include 'clips/header.html' %}

<body class="bg-dark text-white">

    {% include "clips/navbar.html" %}

    <div class="container-fluid bg-dark text-white">

        <div class="headline">
            <p>{{ headline }}</p>
        </div>

        <div class="container stats-container">
            <div class="row">
                <div class="col">
                    <div class="headline">
                        <p>Most clips per user</p>
                    </div>
                    <table class="table table-striped table-dark table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Total clips</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in most_clips_by_user %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ user.creator_name}}</td>
                                <td>{{ user.amount|intcomma }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <div class="headline">
                        <p>Most views per user</p>
                    </div>
                    <table class="table table-striped table-dark table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Total views</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in most_views_by_user %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ user.creator_name}}</td>
                                <td>{{ user.amount|intcomma }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="headline">
                        <p>Clips per month</p>
                    </div>
                    <canvas id="clips_in_month" height="200"></canvas>
                </div>
                <div class="col">
                    <div class="headline">
                        <p>Clips per category</p>
                    </div>
                    <canvas id="clips_by_category" height="200"></canvas>
                </div>
            </div>
        </div>

    </div>

    {% include 'clips/footer.html' %}

    <footer>

        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chartjs-plugin-colorschemes.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/stats.js' %}"></script>
        <script>
            clips_in_month(JSON.parse("{{ clips_in_month|escapejs }}"))
            clips_by_category(JSON.parse("{{ clips_by_category|escapejs }}"))
        </script>

    </footer>

</body>

</html>