{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'clips/header.html' %}

<body>

    {% include 'clips/navbar.html' %}

    <div class="container is-fluid">
        <h1 class="title is-spaced my-6">
            {{ headline }}
        </h1>
        <div>
            <div class="columns is-multiline">
                {% if clips %}
                {% for clip in page_obj %}
                <div class="column is-one-quarter-fullhd is-one-third-widescreen is-half-desktop is-half-tablet">
                    {% include 'clips/card.html' %}
                </div>
                {% endfor %}
                {% else %}
                <div class="column is-full">
                    <section class="hero">
                        <div class="hero-body">
                            <div class="container">
                                <h1 class="title">
                                    No clips found
                                </h1>
                            </div>
                        </div>
                    </section>
                </div>
                {% endif %}
            </div>
        </div>
        <nav class="pagination is-centered my-6" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                {% if page_obj.has_previous %}
                <li>
                    <a class="pagination-link" aria-label="Goto page 1" href="?page=1">1</a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                {% if i <= page_obj.number|add:3 and i >= page_obj.number|add:-3 %}
                {% if page_obj.number == i %}
                <li>
                    <a class="pagination-link is-current" aria-label="Page {{ forloop.counter }}" aria-current="page"
                        href="?page={{ forloop.counter }}">
                        {{ forloop.counter }}
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="pagination-link" aria-label="Page {{ forloop.counter }}" aria-current="page"
                        href="?page={{ forloop.counter }}">
                        {{ forloop.counter }}
                    </a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li>
                    <a class="pagination-link" aria-label="Goto page {{ page_obj.paginator.num_pages }}"
                        href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    {% include 'clips/footer.html' %}

</body>

</html>