{% load static %}

<!DOCTYPE html>
<html lang="de">

{% include 'clips/header.html' %}

<body class="bg-dark text-white">

    {% include "clips/navbar.html" %}

    <div class="container-fluid bg-dark text-white">

        <h1 class="page-title font-weight-bold w-100 mt-5 mb-5 ml-sm-5">{{ headline }}</h1>

        <div class="grid p-sm-4">
            {% if clips %}
            {% for clip in page_obj %}
            {% include "clips/card.html" %}
            {% endfor %}
            {% else %}
            <p>No clips found.</p>
            {% endif %}
        </div>

        <nav>
            <ul class="pagination m-5 justify-content-center">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link text-white" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link text-white" href="#">&lt;</a>
                </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                {% if i <= page_obj.number|add:5 and i >= page_obj.number|add:-5 %}
                {% if page_obj.number == i %}
                <li class="page-item active">
                    <a class="page-link text-white" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link text-white" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link text-white" href="?page={{ page_obj.next_page_number }}">&gt;</a>

                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link text-white" href="#">&gt;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    {% include 'clips/footer.html' %}

</body>

</html>